.product-card {
    position: relative;
    padding-top: 161px;
    padding-right: 41px;
    padding-left: 41px;
    padding-bottom: 41px;
    margin-top: 161px;
    border-radius: 24px;

    @media screen and (min-width: 768px) {
        width: 220px;   
        padding-right: 20px;
        padding-left: 20px;
    }

    @media screen and (min-width: 1280px) {
        padding-right: 41px;
        padding-left: 41px;
        padding-bottom: 50px;
        width: 329px;
    }
   
    &::before {
        content: "";
        position: absolute;
        display: block;
        max-width: 100%;
        height: auto;
     
        top:0;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 249px;
        height: 252px;

        @media screen and (min-width: 768px) {
            width: 220px;
        }

        @media screen and (min-width: 1280px) {
            width: 335px;
            height: 335px;
            transform: translate(-50%, -65%);
        }
        
    }

    &--ice-cream {
        background-color: $pink-color;
        &::before {
            background: url(../images/products/ice-cream-mob@1x.png);
            background-size: contain;
            background-repeat: no-repeat;

            @media screen and (min-width: 768px) {
                background: url(../images/products/ice-cream-tab@1x.png);
                background-size: contain; 
                background-repeat: no-repeat;
            } 

            @media screen and (min-width: 1280px) {
                background: url(../images/products/ice-cream@1x.png);
                background-size: contain; 
                background-repeat: no-repeat;
            } 
        } 
         
    }

    &--ice-coffee {
        background-color: $brown-color;
        &::before {
           background: url(../images/products/ice-coffee-mob@1x.png);
           background-size: contain;
           background-repeat: no-repeat;

            @media screen and (min-width: 768px) {
                background: url(../images/products/ice-coffee-tab@1x.png);
                background-size: contain; 
                background-repeat: no-repeat;
            } 

            @media screen and (min-width: 1280px) {
                background: url(../images/products/ice-coffee@1x.png);
                background-size: contain; 
                background-repeat: no-repeat;
            }
        }   
    }

    &--milk-shake {
        background-color: $green-color;
        &::before {
            background: url(../images/products/miikshakes-mob@1x.png);
            background-size: contain; 
            background-repeat: no-repeat;

            @media screen and (min-width: 768px) {
                background: url(../images/products/miikshakes-tab@1x.png);
                background-size: contain; 
                background-repeat: no-repeat;
            }  

            @media screen and (min-width: 1280px) {
                background: url(../images/products/miikshakes@1x.png);
                background-size: contain; 
                background-repeat: no-repeat;
            }    

        }   
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        &--ice-cream {
            &::before {
                background: url(../images/products/ice-cream-mob@2x.png);
                background-size: contain;

                @media screen and (min-width: 768px) {
                    background: url(../images/products/ice-cream-tab@2x.png);
                    background-size: contain; 
                    background-repeat: no-repeat;
                }  

                @media screen and (min-width: 1280px) {
                    background: url(../images/products/ice-cream@2x.png);
                    background-size: contain; 
                    background-repeat: no-repeat;
                }   
            }   
        }

        &--ice-coffee {
            &::before {
                background: url(../images/products/ice-coffee-mob@2x.png);
                background-size: contain;

                @media screen and (min-width: 768px) {
                    background: url(../images/products/ice-coffee-tab@2x.png);
                    background-size: contain; 
                    background-repeat: no-repeat;
                }  

                @media screen and (min-width: 1280px) {
                    background: url(../images/products/ice-coffee@2x.png);
                    background-size: contain; 
                    background-repeat: no-repeat;
                }   

            } 
        }

        &--milk-shake {
            &::before {
                background: url(../images/products/miikshakes-mob@2x.png);
                background-size: contain;

                @media screen and (min-width: 768px) {
                    background: url(../images/products/miikshakes-tab@2x.png);
                    background-size: contain; 
                    background-repeat: no-repeat;
                }  

                @media screen and (min-width: 1280px) {
                    background: url(../images/products/miikshakes@2x.png);
                    background-size: contain; 
                    background-repeat: no-repeat;
                }   

            }  
        }
    }
    

    &__title {
        font-family: Titan One;
        font-size: 20px;
        line-height: calc(23/20);

        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        @media screen and (min-width: 1280px) {
            font-size: 30px;
            line-height: calc(34/30);
        }  

        color: #FFFFFF;   

        &::after {
            content: "...";
            display: block;
            font-size: 25px;
            letter-spacing: 3px;
            margin-top: 25px;
            margin-bottom: 30px;
        }
        
    }

    &__description {

        margin-bottom: 30px;

        font-family: DM Sans;
        font-weight: bold;
        font-size: 14px;
        line-height: 152%;
        
        text-align: center;
        letter-spacing: 0.04em;

        color: #FFFFFF;

        &--extra {
            transition: all 250ms;
        }

        &--hidden {
           opacity: 0;
           height: 0px;
           visibility:hidden;
           transition: all 250ms;
        }

        @media screen and (min-width: 768px) {
            line-height: 176%;
        }

        @media screen and (min-width: 1280px) {
            margin-bottom: 62px;
        }


    }

    &__button {
        display: block;
        margin: auto;
        width:40px;
        height:40px;
        cursor: pointer;
        background-color: transparent;
        background-image: url(../images/products/arrow@1x.png);
        background-repeat: no-repeat;
        transition: all 250ms;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/products/arrow@2x.png);
            background-size: contain;
        }

        &--opened {
            transform: rotate(-90deg);  
        }
    }

}


