/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './utils/variables';
@import './utils/hidden-title';
@import './base/reset';
@import './base/body';
@import './utils/variables';

@import './components/products/products-section';
@import './components/products/product-card';

@import './components/content-container';
@import './components/footer';
@import './components/about';
@import './components/gallery';
@import './components/customers';
@import './components/modal';
