/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './utils/variables';
@import './utils/hidden-title';
@import './base/reset';
@import './base/body';




@import './components/content-container';
@import './components/footer';
@import './components/about';
@import './components/customers';
@import './components/modal';
@import './components/advantages';
@import './components/mob-menu';


