$white-text-color: #ffffff;
$black-text-color: #000000;
$grey-text-color: #907e82;
$red-color: #d41443;
$pink-color: #ffa5ba;
$brown-color: #f0d1a5;
$green-color: #c2e297;
$grey-border-color: #e1e1e1;
$gallery-gradient-color: #fff5f6;
$bg-red-hover-color: #c7133e;
$grey-hover-color: #ecebeb;
$bg-header-color: #ffb8ca;
