<!-------------------- МОБИЛЬНОЕ МЕНЮ---------------- -->
<button class="open-menu-btn">
    <svg class="open-menu-burger" width="20" height="12">
        <use href="./images/svg/icons.svg#icon-menu"></use>
    </svg>
</button>
</div>
</div>

<div class="mob-menu is-hidden">
    <div class="container">
        <div class="mob-menu-top">
            <button class="close-menu-btn">
                <svg class="close-menu-btn_icon" width="20" height="12">
                    <use href="./images/svg/icons.svg#icon-close"></use>
                </svg>
            </button>
            <ul class="mob-menu-list list">
                <li class="mob-menu-list__item"><a href="./index.html" class="mob-menu-list__link link">Студия</a></li>
                <li class="mob-menu-list__item"><a href="./portfolio.html"
                        class="mob-menu-list__link link">Портфолио</a></li>
                <li class="mob-menu-list__item"><a href="" class="mob-menu-list__link link">Контакты</a></li>
            </ul>
        </div>
        <div class="mob-menu-bottom">
            <div class="mob-menu-connect">
                <ul class="mob-menu-connect-list list">
                    <li class="mob-menu-connect-list__item"><a href="tel:+380991111111"
                            class="mob-menu-connect-list__tel-link link">+38 096 111 11 11</a></li>
                    <li class="mob-menu-connect-list__item"><a href="mailto:info@example.com"
                            class="mob-menu-connect-list__mail-link link">info@devstudio.com</a></li>
                </ul>
            </div>