<ul class="advantages-list list">
    <li class="advantages-list__item">
        <img
            class="advantages-list__icon"
            src="./images/advantages/icon1-mob@1x.png"
            alt="ведро с молоком"
            loading="lazy"
        />
        <h3 class="advantages-list__title">721</h3>
        <p class="advantages-list__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
    </li>
    <li class="advantages-list__item">
        <img
            class="advantages-list__icon"
            src="./images/advantages/icon1-mob@1x.png"
            alt="ведро с молоком"
            loading="lazy"
        />
        <h3 class="advantages-list__title">16 KG</h3>
        <p class="advantages-list__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
    </li>
    <li class="advantages-list__item">
        <img
            class="advantages-list__icon"
            src="./images/advantages/icon1-mob@1x.png"
            alt="ведро с молоком"
            loading="lazy"
        />
        <h3 class="advantages-list__title">84</h3>
        <p class="advantages-list__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
    </li>
</ul>
