<section class="customers-section">
    <div class="content-container">
        <div class="customer-section__slider">
            <div class="customer-section__slider-item">
                <img class="customer-section__photo" src="" alt="woman" />
                <div class="customer-section__text-conatainer">
                    <p class="customer-section__text">
                        Nullam viverra consectetuer. Quisque cursus et,
                        porttitor risus. Aliquam sem. In hendrerit nulla quam
                        nunc, accumsan congue. Lorem ipsum primis in nibh vel
                        risus.
                    </p>
                </div>
            </div>
            <div class="customer-section__slider-item">
                <img class="customer-section__photo" src="" alt="woman" />
                <div class="customer-section__text-conatainer">
                    <p class="customer-section__text">
                        Nullam viverra consectetuer. Quisque cursus et,
                        porttitor risus. Aliquam sem. In hendrerit nulla quam
                        nunc, accumsan congue. Lorem ipsum primis in nibh vel
                        risus.
                    </p>
                </div>
            </div>
            <div class="customer-section__slider-item">
                <img class="customer-section__photo" src="" alt="woman" />
                <div class="customer-section__text-conatainer">
                    <p class="customer-section__text">
                        Nullam viverra consectetuer. Quisque cursus et,
                        porttitor risus. Aliquam sem. In hendrerit nulla quam
                        nunc, accumsan congue. Lorem ipsum primis in nibh vel
                        risus.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
