<section class="galery">
    <div class="galery__container">
        <picture class="galery__img">
            <source srcset="
            ./images/.jpg 1x,
            ./images/.jpg 2x
            "
            media="(min-width: 1280px)"/>
            <source srcset="
            ./images/.jpg 1x,
            ./images/.jpg 2x
            "
            media="(min-width: 768px)"/>
            <source srcset="
            ./images/.jpg 1x,
            ./images/.jpg 2x
            "
            media="(min-width: 480px)"
            />
            <!-- <source srcset="
            ./images/.jpg 1x,
            ./images/.jpg 2x
            "
            media="(min-width: 320px)"
            /> -->
            <img src=".jpg" alt="Galery">
        </picture>
    </div>
</section>