<section class="galery">
    <div class="galery__container">
        <picture class="galery__img">
            <source srcset="
            ./images/galery-desctop-1x.jpg 1x,
            ./images/galery-desctop-2x.jpg 2x
            "
            media="(min-width: 1280px)"/>
            <source srcset="
            ./images/galery-tab-1x.jpg 1x,
            ./images/galery-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"/>
            <source srcset="
            ./images/galery-mob-1x.jpg 1x,
            ./images/galery-mob-2x.jpg 2x
            "
            media="(min-width: 480px)"
            />
            <source srcset="
            ./images/galery-mob-1x.jpg 1x,
            ./images/galery-mob-2x.jpg 2x
            "
            media="(min-width: 320px)"
            />
            <img src="./images/galery-desctop-1x.jpg" alt="Galery">
        </picture>
    </div>
</section>