<section class="gallery gradient">
    <h2 class="gallery__title hidden-title">Gallery section</h2>
    <div class="gallery__container gradient">
        <!-- <div class="galery__box"> -->
        <div class="gallery__box-img">
            <picture>
                <source
                    srcset="
                        ./images/gallery/gallery-desctop/gallery01-@1x.jpg 1x,
                        ./images/gallery/gallery-desctop/gallery01-@2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                />
                <source
                    srcset="
                        ./images/gallery/gallery-desctop/gallery01-@1x.jpg 1x,
                        ./images/gallery/gallery-desctop/gallery01-@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                />
                <source
                    srcset="
                        ./images/gallery/gallery-tablet/gallery01-@1x.jpg 1x,
                        ./images/gallery/gallery-tablet/gallery01-@2x.jpg 2x
                    "
                    media="(min-width: 480px)"
                />
                <source
                    srcset="
                        ./images/gallery/gallery-mobile/gallery01-@1x.jpg 1x,
                        ./images/gallery/gallery-mobile/gallery01-@2x.jpg 2x
                    "
                    media="(min-width: 1px)"
                />
                <img
                    class="galery__img"
                    src=" ./images/gallery/gallery-mobile/gallery01-@1x.jpg"
                    alt="photo"
                />
            </picture>
        </div>
        <!-- </div> -->
        <!-- <div class="galery__box"> -->
        <div class="gallery__box-img">
            <picture>
                <source
                    srcset="
                        ./images/gallery/gallery-desctop/gallery02-@1x.jpg 1x,
                        ./images/gallery/gallery-desctop/gallery02-@2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                />
                <source
                    srcset="
                        ./images/gallery/gallery-desctop/gallery02-@1x.jpg 1x,
                        ./images/gallery/gallery-desctop/gallery02-@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                />
                <source
                    srcset="
                        ./images/gallery/gallery-tablet/gallery02-@1x.jpg 1x,
                        ./images/gallery/gallery-tablet/gallery02-@2x.jpg 2x
                    "
                    media="(min-width: 480px)"
                />
                <source
                    srcset="
                        ./images/gallery/gallery-mobile/gallery02-@1x.jpg 1x,
                        ./images/gallery/gallery-mobile/gallery02-@2x.jpg 2x
                    "
                    media="(min-width: 1px)"
                />
                <img
                    class="galery__img"
                    src=" ./images/gallery/gallery-mobile/gallery02-@1x.jpg"
                    alt="photo"
                />
            </picture>
            <picture>
                <source
                    srcset="
                        ./images/gallery/gallery-desctop/gallery03-@1x.jpg 1x,
                        ./images/gallery/gallery-desctop/gallery03-@2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                />
                <source
                    srcset="
                        ./images/gallery/gallery-desctop/gallery03-@1x.jpg 1x,
                        ./images/gallery/gallery-desctop/gallery03-@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                />
                <source
                    srcset="
                        ./images/gallery/gallery-tablet/gallery03-@1x.jpg 1x,
                        ./images/gallery/gallery-tablet/gallery03-@2x.jpg 2x
                    "
                    media="(min-width: 480px)"
                />
                <source
                    srcset="
                        ./images/gallery/gallery-mobile/gallery03-@1x.jpg 1x,
                        ./images/gallery/gallery-mobile/gallery03-@2x.jpg 2x
                    "
                    media="(min-width: 1px)"
                />
                <img
                    class="galery__img"
                    src=" ./images/gallery/gallery-mobile/gallery03-@1x.jpg"
                    alt="photo"
                />
            </picture>
        </div>
        <!-- </div> -->
        <!-- <div class="galery__box"> -->
        <div class="gallery__box-img">
            <picture>
                <source
                    srcset="
                        ./images/gallery/gallery-desctop/gallery04-@1x.jpg 1x,
                        ./images/gallery/gallery-desctop/gallery04-@2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                />
                <source
                    srcset="
                        ./images/gallery/gallery-desctop/gallery04-@1x.jpg 1x,
                        ./images/gallery/gallery-desctop/gallery04-@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                />
                <source
                    srcset="
                        ./images/gallery/gallery-tablet/gallery04-@1x.jpg 1x,
                        ./images/gallery/gallery-tablet/gallery04-@2x.jpg 2x
                    "
                    media="(min-width: 480px)"
                />
                <source
                    srcset="
                        ./images/gallery/gallery-mobile/gallery04-@1x.jpg 1x,
                        ./images/gallery/gallery-mobile/gallery04-@2x.jpg 2x
                    "
                    media="(min-width: 1px)"
                />
                <img
                    class="galery__img"
                    src=" ./images/gallery/gallery-mobile/gallery04-@1x.jpg"
                    alt="photo"
                />
            </picture>
            <picture>
                <source
                    srcset="
                        ./images/gallery/gallery-desctop/gallery05-@1x.jpg 1x,
                        ./images/gallery/gallery-desctop/gallery05-@2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                />
                <source
                    srcset="
                        ./images/gallery/gallery-desctop/gallery05-@1x.jpg 1x,
                        ./images/gallery/gallery-desctop/gallery05-@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                />
                <source
                    srcset="
                        ./images/gallery/gallery-tablet/gallery05-@1x.jpg 1x,
                        ./images/gallery/gallery-tablet/gallery05-@2x.jpg 2x
                    "
                    media="(min-width: 480px)"
                />
                <source
                    srcset="
                        ./images/gallery/gallery-mobile/gallery05-@1x.jpg 1x,
                        ./images/gallery/gallery-mobile/gallery05-@2x.jpg 2x
                    "
                    media="(min-width: 1px)"
                />
                <img
                    class="galery__img corect-width-galery-img"
                    src=" ./images/gallery/gallery-mobile/gallery05-@1x.jpg"
                    alt="photo"
                />
            </picture>
        </div>
        <!-- </div> -->
        <!-- <div class="galery__box"> -->
        <div class="gallery__box-img">
            <picture>
                <source
                    srcset="
                        ./images/gallery/gallery-desctop/gallery06-@1x.jpg 1x,
                        ./images/gallery/gallery-desctop/gallery06-@2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                />
                <source
                    srcset="
                        ./images/gallery/gallery-desctop/gallery06-@1x.jpg 1x,
                        ./images/gallery/gallery-desctop/gallery06-@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                />
                <source
                    srcset="
                        ./images/gallery/gallery-tablet/gallery06-@1x.jpg 1x,
                        ./images/gallery/gallery-tablet/gallery06-@2x.jpg 2x
                    "
                    media="(min-width: 480px)"
                />
                <source
                    srcset="
                        ./images/gallery/gallery-mobile/gallery06-@1x.jpg 1x,
                        ./images/gallery/gallery-mobile/gallery06-@2x.jpg 2x
                    "
                    media="(min-width: 1px)"
                />
                <img
                    class="galery__img"
                    src=" ./images/gallery/gallery-mobile/gallery06-@1x.jpg"
                    alt="photo"
                />
            </picture>
            <picture>
                <source
                    srcset="
                        ./images/gallery/gallery-desctop/gallery07-@1x.jpg 1x,
                        ./images/gallery/gallery-desctop/gallery07-@2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                />
                <source
                    srcset="
                        ./images/gallery/gallery-desctop/gallery07-@1x.jpg 1x,
                        ./images/gallery/gallery-desctop/gallery07-@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                />
                <source
                    srcset="
                        ./images/gallery/gallery-tablet/gallery07-@1x.jpg 1x,
                        ./images/gallery/gallery-tablet/gallery07-@2x.jpg 2x
                    "
                    media="(min-width: 480px)"
                />
                <source
                    srcset="
                        ./images/gallery/gallery-mobile/gallery07-@1x.jpg 1x,
                        ./images/gallery/gallery-mobile/gallery07-@2x.jpg 2x
                    "
                    media="(min-width: 1px)"
                />
                <img
                    class="galery__img"
                    src=" ./images/gallery/gallery-mobile/gallery07-@1x.jpg"
                    alt="photo"
                />
            </picture>
        </div>
        <!-- </div> -->
        <div class="galery__box">
            <div class="gallery__box-img">
                <picture>
                    <source
                        srcset="
                            ./images/gallery/gallery-desctop/gallery08-@1x.jpg 1x,
                            ./images/gallery/gallery-desctop/gallery08-@2x.jpg 2x
                        "
                        media="(min-width: 1280px)"
                    />
                    <source
                        srcset="
                            ./images/gallery/gallery-desctop/gallery08-@1x.jpg 1x,
                            ./images/gallery/gallery-desctop/gallery08-@2x.jpg 2x
                        "
                        media="(min-width: 768px)"
                    />
                    <source
                        srcset="
                            ./images/gallery/gallery-tablet/gallery08-@1x.jpg 1x,
                            ./images/gallery/gallery-tablet/gallery08-@2x.jpg 2x
                        "
                        media="(min-width: 480px)"
                    />
                    <source
                        srcset="
                            ./images/gallery/gallery-mobile/gallery08-@1x.jpg 1x,
                            ./images/gallery/gallery-mobile/gallery08-@2x.jpg 2x
                        "
                        media="(min-width: 1px)"
                    />
                    <img
                        class="galery__img"
                        src=" ./images/gallery/gallery-mobile/gallery08-@1x.jpg"
                        alt="photo"
                    />
                </picture>
                <picture>
                    <source
                        srcset="
                            ./images/gallery/gallery-desctop/gallery09-@1x.jpg 1x,
                            ./images/gallery/gallery-desctop/gallery09-@2x.jpg 2x
                        "
                        media="(min-width: 1280px)"
                    />
                    <source
                        srcset="
                            ./images/gallery/gallery-desctop/gallery09-@1x.jpg 1x,
                            ./images/gallery/gallery-desctop/gallery09-@2x.jpg 2x
                        "
                        media="(min-width: 768px)"
                    />
                    <source
                        srcset="
                            ./images/gallery/gallery-tablet/gallery09-@1x.jpg 1x,
                            ./images/gallery/gallery-tablet/gallery09-@2x.jpg 2x
                        "
                        media="(min-width: 480px)"
                    />
                    <source
                        srcset="
                            ./images/gallery/gallery-mobile/gallery09-@1x.jpg 1x,
                            ./images/gallery/gallery-mobile/gallery09-@2x.jpg 2x
                        "
                        media="(min-width: 1px)"
                    />
                    <img
                        class="galery__img"
                        src=" ./images/gallery/gallery-mobile/gallery09-@1x.jpg"
                        alt="photo"
                    />
                </picture>
            </div>
        </div>
        <!-- <div class="galery__box"> -->
        <div class="gallery__box-img">
            <picture>
                <source
                    srcset="
                        ./images/gallery/gallery-desctop/gallery10-@1x.jpg 1x,
                        ./images/gallery/gallery-desctop/gallery10-@2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                />
                <source
                    srcset="
                        ./images/gallery/gallery-desctop/gallery10-@1x.jpg 1x,
                        ./images/gallery/gallery-desctop/gallery10-@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                />
                <source
                    srcset="
                        ./images/gallery/gallery-tablet/gallery10-@1x.jpg 1x,
                        ./images/gallery/gallery-tablet/gallery10-@2x.jpg 2x
                    "
                    media="(min-width: 480px)"
                />
                <source
                    srcset="
                        ./images/gallery/gallery-mobile/gallery10-@1x.jpg 1x,
                        ./images/gallery/gallery-mobile/gallery10-@2x.jpg 2x
                    "
                    media="(min-width: 1px)"
                />
                <img
                    class="galery__img"
                    src=" ./images/gallery/gallery-mobile/gallery10-@1x.jpg"
                    alt="photo"
                />
            </picture>
        </div>
        <!-- </div> -->
    </div>
</section>
