<main>
    <section class="hero">
        <div class="content-container">
        <h1 class="hero__title">ice cream made with passion</h1>
        <ul class="hero__list">
            <li class="hero__item">
                <a href="#" class="hero__link">Products</a>
            </li>
            <li class="hero__item">
                <a href="#" class="hero__link">How it’s made?</a>
            </li>
        </ul>
        <div>
            <img class="hero__img-pitcher" src="" alt="pitcher with milk">
        </div>
        <p class="hero__subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
        </p>
        <div>
            <img class="hero__img-icecream" src="" alt="ice-cream">
        </div>
        <p class="hero__points">
            <ul class="hero__points-list">
                <li class="hero__points-item">16 cafes</li>
                <li class="hero__points-item">23 food trucks</li>
            </ul>
        </p>
        <div>
            <img class="hero__img-girl" src="" alt="girl with ice-cream">
        </div>
        </div>
    </section>
</main>