<section class="hero" id="hero">
    <div class="content-container">
        <h1 class="hero__title animate__animated animate__zoomIn">
            ice cream made with
            <span class="hero__title--color">passion</span>
        </h1>
        <ul class="hero__list animate__animated animate__zoomIn">
            <li class="hero__item">
                <a href="#Products" class="hero__link">Products</a>
            </li>
            <li class="hero__item hero__item--sec">
                <a href="#How it’s made?" class="hero__link hero__link--sec"
                    >How it’s made?</a
                >
            </li>
        </ul>
    </div>
    <section class="hero__points">
        <ul class="hero__points-list animate__animated animate__zoomIn">
            <li class="hero__points-item">
                <span class="hero__points-item--over">16</span>
                <span class="hero__points-item--sub">cafes</span>
            </li>
            <li class="hero__points-item">
                <span class="hero__points-item--over">23</span>
                <span class="hero__points-item--sub">food trucks</span>
            </li>
        </ul>
    </section>
    <div class="hero--conteiner animate__animated animate__zoomIn">
        <img
            srcset="
                ./images/hero/milk@1x.png     188w,
                ./images/hero/milk@2x.png     376w,
                ./images/hero/milk-tab@1x.png 124w,
                ./images/hero/milk-tab@2x.png 248w
            "
            sizes="(min-width:1280px) 188px, (min-width:768px) 124px"
            src="./images/hero/milk@1x.png"
            class="hero__img-pitcher"
            alt="pitcher with milk"
        />
        <div>
            <p class="hero__subtitle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et
            </p>
            <a href="#About" class="hero__subtitle-link"
                ><img
                    class="hero__subtitle-img"
                    srcset="
                        ./images/hero/arrow-desk@1x.png 26w,
                        ./images/hero/arrow-desk@2x.png 52w,
                        ./images/hero/arrow-tab@1x.png  18w,
                        ./images/hero/arrow-tab@2x.png  32w
                    "
                    sizes="(min-width:1280px) 26px, (min-width:768px) 18px"
                    src="./images/hero/arrow-desk@1x.png"
                    alt="button Read more"
            /></a>
        </div>
    </div>
    <div>
        <img
            class="hero__img-girl animate__animated animate__zoomIn"
            srcset="
                ./images/hero/girl@1x.png     293w,
                ./images/hero/girl@2x.png     586w,
                ./images/hero/girl-tab@1x.png 168w,
                ./images/hero/girl-tab@2x.png 336w
            "
            sizes="(min-width:1280px) 293px, (min-width:768px) 168px"
            src="./images/hero/girl@1x.png"
            alt="girl with ice-cream"
        />
    </div>
    <div>
        <img
            class="hero__img-icecream animate__animated animate__zoomIn"
            srcset="
                ./images/hero/hero-icecreame@1x.png    236w,
                ./images/hero/hero-icecreame@2x.png    472w,
                ./images/hero/hero-icecream-tab@1x.png 143w,
                ./images/hero/hero-icecream-tab@2x.png 286w,
                ./images/hero/hero-icecreme-mob@1x.png 171w,
                ./images/hero/hero-icecreme-mob@2x.png 342w
            "
            sizes="(min-width:1280px) 236px, (min-width:768px) 143px, (min-width: 320px) 171px"
            src="./images/hero/hero-icecreame@1x.png"
            alt="ice-cream"
        />
    </div>
</section>
