.container {
    width: 100%;
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;

    @media screen and (min-width: 480px) {
        width: 480px;
    }
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    @media screen and (min-width: 1280px) {
        width: 1280px;
    }
}
.about {
    background: #fff5f6;
}
.about__container {
    padding-top: 125px;
    padding-bottom: 39px;
    border: 1px solid #d41443;
}
.about__subtitle {
    font-family: Titan One, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
    color: #ffa5ba;
    margin-bottom: 15px;
}
.about__title {
    font-family: Titan One, sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
    margin-bottom: 26px;
}
.about__img-container {
    
    align-items: center;
    margin-bottom: 46px;
}
.about__img {
    max-width: 100%;
    height: auto;
}
.about-list__iteam {
    margin-bottom: 17px;
}
.about-list__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    &--dark {
        color: #000000;
    }
    &--light {
        color: #907e82;
    }
}
.about-more {
    width: 176px;
    height: 44px;
    border-radius: 22px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.about-more__link {
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    color: #d41443;
    &::after {
        content: '>';
        width: 5px;
        height: 12px;
        align-items: center;
        text-align: center;
        margin-left: 18px;
    }
}
