.about {
    background: #fff5f6;
}
.about__container {
    padding-top: 125px;
    outline: 1px solid #000000;
    position: relative;
    background: #fff5f6;
    @media screen and (min-width: 768px) and (max-width: 1278px) {
        padding-top: 130px;
    }
    @media screen and (min-width: 1280px) {
        background-image: url(/images/about/splash@1x.png);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(/images/about/splash@2x.png);
        }
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom -65px left 0px;
    }
    &::after {
        position: absolute;
        left: 0;
        bottom: 61px;
        z-index: 10;
        content: '';
        width: 100%;
        height: 133px;

        background-image: url(../images/about/splash-mob@1x.png);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(../images/about/splash-mob@2x.png);
        }
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @media screen and (min-width: 768px) {
            background-image: none;
        }
    }
}

.about__subtitle {
    font-family: Titan One, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
    color: $pink-color;
    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
        font-size: 26px;
        line-height: 1.15;
        margin-bottom: 16px;
    }
    @media screen and (min-width: 1280px) {
        font-size: 30px;
        line-height: 1.13;
        margin-bottom: 16px;
        letter-spacing: 0.04em;
    }
}
.about__title {
    font-family: Titan One, sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $red-color;
    margin-bottom: 26px;
    @media screen and (min-width: 768px) {
        font-size: 48px;
        margin-bottom: 100px;
    }
    @media screen and (min-width: 1280px) {
        font-size: 58px;
        line-height: 1.14;
        letter-spacing: 0.06em;
        margin-bottom: 106px;
    }
}
.about__flex {
    @media screen and (min-width: 768px) {
        position: relative;
        display: flex;
        justify-content: flex-end;
    }
}
.about__img-container {
    margin-bottom: 47px;
    & img {
        width: 100%;
        height: auto;
    }
    @media screen and (min-width: 768px) {
        margin-bottom: 0;
        position: absolute;
        top: -50px;
        left: 34px;
        z-index: 10;
    }
    @media screen and (min-width: 1280px) {
        left: 110px;
    }
}

.about__text-container {
    @media screen and (min-width: 768px) {
        width: 340px;
    }
    @media screen and (min-width: 1280px) {
        width: 463px;
        margin-right: 95px;
    }
}
.about__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    margin-left: 30px;
    margin-right: 30px;
    @media screen and (min-width: 768px) {
        margin-left: 0;
        margin-right: 0;
        font-size: 14px;
        line-height: 1.76;
    }
    @media screen and (min-width: 1280px) {
        letter-spacing: 0.04em;
    }

    &--dark {
        color: $black-text-color;
        @media screen and (min-width: 1280px) {
            font-size: 16px;
            line-height: 1.76;
        }
    }
    &--light {
        color: $grey-text-color;
        margin-top: 17px;
        @media screen and (min-width: 768px) {
            margin-top: 25px;
        }

        @media screen and (min-width: 1280px) {
            font-size: 14px;
            line-height: 1.94;
            margin-top: 35px;
        }
    }
}

.about-more__link {
    width: 176px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    color: $red-color;
    background-color: #ffffff;
    border-radius: 22px;
    padding: auto 37px;

    margin-top: 17px;
    margin-left: 30px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

    @media screen and (min-width: 768px) {
        margin-top: 62px;
        margin-left: 0;
    }
    @media screen and (min-width: 1280px) {
        margin-top: 45px;
        margin-bottom: 107px;
    }
    &:hover,
    &:focus {
        background-color: #ecebeb;
    }
}
.about-more__icon {
    margin-left: 13px;
}
