.container {
    width: 100%;
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    

    @media screen and (min-width: 480px) {
        width: 480px;
    }
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    @media screen and (min-width: 1280px) {
        width: 1280px;
    }
}

.about {
    background: #fff5f6;
}

.about__subtitle {
    font-family: Titan One, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
    color: #ffa5ba;
    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
        font-size: 26px;
        line-height: 1.15;
        margin-bottom: 16px;
    }
    @media screen and (min-width: 1280px) {
        font-size: 30px;
        line-height: 1.13;
        margin-bottom: 16px;
        letter-spacing: 0.04em;
    }
}
.about__title {
    font-family: Titan One, sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
    margin-bottom: 26px;
    @media screen and (min-width: 768px) {
        font-size: 48px;
        margin-bottom: 50px;
    }
    @media screen and (min-width: 1280px) {
        font-size: 58px;
        line-height: 1.14;
        letter-spacing: 0.06em;
        margin-bottom: 97px;
    }
}

.about__flex {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
    @media screen and (min-width: 1280px) {
        background-image: url(/images/about/splash@1x.png);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(/images/about/splash@2x.png);
        }
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.about__text-container {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 46px;

   
}
.about__bg-container {
     background-image: url(/images/about/splash-mob@1x.png);
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(/images/about/splash-mob@2x.png);
    }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media screen and (min-width: 768px) {
        background-image: none;
    }

}
.about__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;

    &--dark {
        color: #000000;
    }
    &--light {
        color: #907e82;
        margin-top: 17px;
        @media screen and (min-width: 768px) {
            margin-top: 35px;
        }
    }
}
.about__text-more {
    border-radius: 22px;
    background: #ffffff;
    margin-top: 17px;
    width: 176px;
    height: 44px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    color: #d41443;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px) {
        margin-top: 62px;
    }
    @media screen and (min-width: 1280px) {
        margin-top: 45px;
    }
}
