.advantages-section{
background-color: #FFF5F6;
}
.advantages-list{
    padding-top: 39px;
    padding-right: 50px;
    
  
    @media screen and (min-width: 768px) {
      padding-top: 66px;
      display: flex;
      padding-right: 42px;
    }
  
    @media screen and (min-width: 1280px) {
      padding-top: 39px;
      padding-right: 0;
      margin-left: 115px;
    margin-right: 115px;
    }
  }
.advantages-list__title{
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: calc(41 / 36);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $red-color;
    @media screen and (min-width: 320px) {
        margin-top: 16px;
        margin-bottom: 10px;
      }
    @media screen and (min-width: 768px) {
        margin-top: 36px;
        margin-bottom: 13px;
      }    
      @media screen and (min-width: 1280px) {
        margin-top: 40px;
        margin-bottom: 15px;
      }
    }

.advantages-list__text{
font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 170%;
/* or 20px */
color: $black-text-color;
}
 
  .advantages-list__item {
    margin-bottom: 38px;
    &:last-child {
      margin-bottom: 0;
    }
  
    @media screen and (min-width: 768px) {
      width: calc((100% - 2 * 60px) / 3);
      margin-bottom: 0px;
      margin-right: 60px;
  
      &:last-child {
        margin-right: 0px;
      }
    }
  
    @media screen and (min-width: 1280px) {
      width: calc((100% - 2 * 30px) / 3);
      margin-right: 30px;
  
      &:last-child {
        margin-right: 0px;
      }
    }
}