.contacts {
    background-image: linear-gradient(
        to bottom,
        $white-text-color 6%,
        $gallery-gradient-color 6%
    );

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(
            to bottom,
            $white-text-color 11%,
            $gallery-gradient-color 11%
        );
    }

    @media screen and (min-width: 1280px) {
        background-image: url(./../images/contacts/gradientbg1@1x-desktop.png),
            linear-gradient(
                to bottom,
                $white-text-color 13%,
                $gallery-gradient-color 13%
            );
        background-repeat: no-repeat;
        background-position: 20% 22%, center;
        background-size: contain;

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(./../images/contacts/gradientbg2@2x-desktop.png),
                linear-gradient(
                    to bottom,
                    $white-text-color 13%,
                    $gallery-gradient-color 13%
                );
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 0 auto;

        padding-bottom: 54px;
        @media screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: center;
            margin-bottom: 80px;
            padding-bottom: 0;
        }

        @media screen and (min-width: 1280px) {
            gap: 30px;
            margin-bottom: 86px;
        }
    }

    &__item {
        padding: 44px 20px;
        background-color: $white-text-color;
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;
        max-width: 480px;

        @media screen and (min-width: 768px) {
            padding: 50px 30px;
            max-width: 220px;
        }

        @media screen and (min-width: 1280px) {
            padding: 50px 43px 62px 43px;
            max-width: 330px;
        }
    }

    &__text {
        display: inline-block;

        margin-bottom: 25px;
        padding-left: 25px;
        padding-right: 25px;

        font-weight: 500;
        font-size: 12px;
        line-height: 1.86;

        border-radius: 4px;

        color: $white-text-color;

        @media screen and (min-width: 768px) {
            margin-bottom: 30px;
            padding-left: 15px;
            padding-right: 15px;

            font-size: 16px;
        }

        &--peach {
            background-color: $brown-color;
        }

        &--green {
            background-color: $green-color;
        }
    }

    &__title {
        font-family: DM Sans;
        font-style: normal;

        letter-spacing: 0.04em;

        margin-bottom: 10px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.86;
        color: $black-text-color;

        @media screen and (min-width: 768px) {
            margin-bottom: 14px;
            font-size: 14px;
        }

        @media screen and (min-width: 1280px) {
            margin-bottom: 10px;
            font-size: 16px;
        }
    }

    &__description {
        margin-bottom: 25px;

        font-weight: 500;
        font-size: 12px;
        line-height: 1.5;
        color: $grey-text-color;

        @media screen and (min-width: 768px) {
            margin-bottom: 30px;

            font-size: 14px;
            line-height: 1.66;
        }

        @media screen and (min-width: 1280px) {
            margin-bottom: 32px;

            font-size: 16px;
            line-height: 1.83;
        }
    }

    &__schedule {
        margin-bottom: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
        border-top: 1px solid $grey-border-color;
        border-bottom: 1px solid $grey-border-color;

        font-weight: 500;
        font-size: 12px;
        line-height: 1.86;
        color: $black-text-color;

        @media screen and (min-width: 768px) {
            margin-bottom: 30px;
            padding-top: 30px;
            padding-bottom: 30px;

            font-size: 14px;
        }

        @media screen and (min-width: 1280px) {
            margin-bottom: 32px;
            padding-top: 32px;
            padding-bottom: 32px;

            font-size: 16px;
        }
    }

    &__time {
        display: block;
        color: $pink-color;
    }

    &__cont {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.5;

        @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 1.83;
        }

        @media screen and (min-width: 1280px) {
            font-size: 16px;
        }
    }

    &__link {
        color: $grey-text-color;
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: center;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 22px;
        font-weight: 700;
        font-size: 16px;
        line-height: calc(21 / 16);

        &--dark {
            margin-bottom: 10px;
            padding-left: 17px;
            padding-right: 17px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            background-color: #d31342;
            color: $white-text-color;

            @media screen and (min-width: 768px) {
                margin-bottom: 0;
                margin-right: 15px;
                padding-left: 30px;
                padding-right: 35px;
            }

            @media screen and (min-width: 1280px) {
                padding-left: 35px;
            }

            &:hover,
            &:focus {
                background-color: $bg-red-hover-color;
            }
        }

        &--light {
            padding-left: 32px;
            padding-right: 32px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

            background-color: $white-text-color;
            color: $red-color;

            @media screen and (min-width: 768px) {
                padding-left: 38px;
                padding-right: 38px;
            }

            @media screen and (min-width: 1280px) {
                padding-left: 40px;
                padding-right: 40px;
            }

            &:hover,
            &:focus {
                background-color: $grey-hover-color;
            }
        }
    }

    &__icon {
        margin-left: 8px;
        width: 10px;
        height: 10px;

        @media screen and (min-width: 768px) {
            margin-left: 13px;
        }
    }
}
