.customer-section__slider {
    position: relative;
    padding-top: 80px;
    padding-bottom: 62px;

    max-width: 926px;
    display: flex;
    flex-direction: column;
    margin: auto;
    @media screen and(min-width:768px) {
        padding-top: 121px;
        padding-bottom: 119px;
    }
    @media screen and(min-width:1280px) {
        padding-top: 123px;
        padding-bottom: 132px;
    }
}

.customer-section__slider-item {
    margin-bottom: 30px;
    text-align: center;

    @media screen and(min-width:768px) {
        margin-bottom: 35px;
    }
    @media screen and(min-width:1280px) {
        margin-bottom: 35px;
    }
}

.customer-section__photo {
    margin: auto;
}

.customer-section__text-conatainer {
    position: relative;
    margin-top: 29px;

    border-radius: 16px;

    background-color: #fafafa;
    z-index: -20;
    @media screen and(min-width:768px) {
        width: 100%;
        margin-top: 19px;
    }
    @media screen and(min-width:1280px) {
        width: 926px;
        margin-top: 15px;
    }
}

.bg-wrapper {
    padding: 43px 62px 26px 62px;
    @media screen and(min-width:768px) {
        padding: 47px 80px 34px 80px;
    }
    @media screen and(min-width:1280px) {
        padding: 47px 88px 39px 88px;
    }
}

.customer-section__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 2.55;
    color: #000000;
    z-index: 2;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-image: repeating-linear-gradient(
        0deg,
        #e1e1e1 0 1px,
        transparent 1px 32px
    );

    color: $black-text-color;
    z-index: 20;

    @media screen and(min-width:768px) {
        font-size: 14px;
        line-height: 2.16;
        text-align: center;
        letter-spacing: 0.04em;
        width: 544px;
    }
    @media screen and(min-width:1280px) {
        font-size: 16px;
        line-height: 1.8;
        width: 750px;
    }
}

.review__icon {
    position: absolute;

    width: 54px;
    height: 40px;

    fill: #e1e1e1;

    top: 28px;
    left: 61px;
    z-index: -1;
}

.customer-section__name {
    position: relative;
    margin-top: 52px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;

    color: $black-text-color;
    &::before {
        position: absolute;
        top: -26px;
        content: '...';
        top: -42px;

        font-size: 35px;
        color: $red-color;
        letter-spacing: 5px;
        display: flex;
        border-radius: 50%;
    }
    @media screen and(min-width:768px) {
        margin-top: 42px;
        &::before {
            top: -35px;
        }
    }
    @media screen and(min-width:1280px) {
        margin-top: 34px;
    }
}

.customer-section__slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
}

.customer-section__slider .slick-arrow.slick-prev {
    left: 0;
}

.customer-section__slider .slick-arrow.slick-next {
    right: 0;
}
.customer-section__slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}
.customer-section__slider .slick-dots li {
    list-style: none;
    margin: 0 9px;
}
.customer-section__slider .slick-dots button {
    font-size: 0;
    width: 12px;
    height: 12px;
    background-color: #d9d9d9;
    border-radius: 50%;
}

.customer-section__slider .slick-dots li.slick-active button {
    width: 12px;
    height: 12px;
    background-color: $red-color;
    background-size: contain;
    background-repeat: no-repeat;
}
