.background {
    background-color: #ffb8ca;
}

.container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
        width: 480px;
    }
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    @media screen and (min-width: 1280px) {
        width: 1280px;
    }
}

.header {
    // outline: 1px solid purple;
    padding-top: 38px;
    padding-bottom: 27px;
    display: flex;
    width: 320px;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: 768px) {
        width: 768px;
        padding-bottom: 0;
    }
    @media screen and (min-width: 1280px) {
        width: 1280px;
        padding-right: 100px;
        padding-left: 46px;
    }
}
.header-nav {
    display: none;
    @media screen and (min-width: 1280px) {
        display: flex;
        z-index: 3;
    }
}
.header-list {
    display: flex;
}
.header-item {
    margin-right: 35px;
}
.header-link {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(21 / 16);
    align-items: center;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: #d41443;
    }
}
.header-btns {
    display: flex;
    z-index: 3;
}
.btn-open {
    background-color: transparent;
    border: none;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    @media screen and (min-width: 768px) {
        margin-right: 30px;
    }
    @media screen and (min-width: 1280px) {
        display: none;
    }
}
.header-burg {
    width: 20px;
    height: 1px;
    display: block;
    position: relative;
    border: 1px solid #d41443;
    color: #d41443;
    &::before {
        content: '';
        width: 20px;
        height: 100%;
        display: block;
        position: absolute;
        border: 1px solid #d41443;
        color: #d41443;
        top: 6px;
        right: -1px;
    }
    &::after {
        content: '';
        width: 20px;
        height: 100%;
        display: block;
        position: absolute;
        border: 1px solid #d41443;
        color: #d41443;
        bottom: 6px;
        right: -1px;
    }
}
.header-btn {
    font-family: DM Sans;
    width: 160px;
    height: 44px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(21 / 16);
    // display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 22px;
    border: 0;
    color: #d41443;
    background: #ffffff;
    display: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
        display: flex;
        &:focus,
        &:hover {
            color: #d41443;
            background-color: #ecebeb;
        }
    }
}
.btn-icon {
    font-size: 13px;
    margin-left: 12px;
}
