.hero {
    position: relative;
    @media screen and (max-width: 767px) {
        overflow: hidden;
    }
    &::after {
        animation: animationAfter 1000ms cubic-bezier(0.4, 0, 0.2, 1);
        content: '';
        display: block;
        position: absolute;
        width: 346px;
        height: 344px;
        bottom: 75px;
        left: 36px;

        border: solid #ffa5ba;
        background-color: #ffa5ba;
        border-radius: 50%;
        @media screen and (min-width: 768px) {
            width: 324px;
            height: 322px;
            bottom: 46px;
            left: 325px;
        }
        @media screen and (min-width: 1280px) {
            width: 538px;
            height: 538px;
            bottom: 89px;
            left: 475px;
        }
    }
    .hero__img-icecream {
        position: absolute;
        bottom: 0;
        left: 117px;
        z-index: 10;
        @media screen and (min-width: 768px) {
            left: 378px;
        }
        @media screen and (min-width: 1280px) {
            left: 594px;
        }
    }
}
.hero__title {
    font-family: 'Titan One', cursive;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $white-text-color;

    padding-top: 137px;

    @media screen and (max-width: 767px) {
        font-size: 26px;

        position: relative;
        z-index: 100;
        max-width: 218px;
    }
    @media screen and (min-width: 768px) {
        font-size: 22px;

        max-width: 162px;
        padding-top: 15px;
    }
    @media screen and (max-width: 1279px) {
        margin-bottom: 20px;
    }
    @media screen and (min-width: 1280px) {
        font-size: 38px;

        max-width: 277px;
        margin-bottom: 25px;
        padding-top: 84px;
    }

    &--color {
        color: $red-color;
        @media screen and (max-width: 767px) {
            font-size: 48px;
            line-height: 46px;
        }
        @media screen and (min-width: 768px) {
            font-size: 34px;
            line-height: 31px;
        }
        @media screen and (min-width: 1280px) {
            font-size: 58px;
            line-height: 52px;
        }
    }
}

.hero__list {
    display: inline-flex;
    text-align: center;

    margin-bottom: 160px;

    position: relative;
    z-index: 200;

    @media screen and (min-width: 768px) {
        margin-bottom: 19px;
    }
    @media screen and (min-width: 1280px) {
        margin-bottom: 56px;
    }
}
.hero__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    min-width: 62px;
    height: 24px;
    &:not(:last-child) {
        margin-right: 8px;
    }
    @media screen and (min-width: 1280px) {
        min-width: 104px;
        height: 40px;
        &:not(:last-child) {
            margin-right: 15px;
        }
    }
    &--sec {
        min-width: 83px;
        @media screen and (min-width: 1280px) {
            min-width: 138px;
        }
    }
}
.hero__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: $red-color;
    color: $white-text-color;

    width: 100%;
    padding: 10px 15px;
    border-radius: 20px;

    font-size: 8px;
    line-height: 1.2;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: #c7133e;
    }
    &--sec {
        background-color: $white-text-color;
        color: $red-color;
    }
    &--sec:hover,
    &--sec:focus {
        background-color: #ecebeb;
    }

    @media screen and (min-width: 1280px) {
        padding: 11px 23px;

        font-size: 14px;
        line-height: 1.3;
    }
}
.hero__subtitle,
.hero__img-pitcher,
.hero__img-girl,
.hero__points,
.hero__points-item,
.hero__points-item--sub,
.hero__subtitle-img {
    @media screen and (max-width: 767px) {
        display: none;
    }
}
.hero__img-girl {
    position: absolute;
    bottom: 0;
    right: 34px;
    z-index: 300;
    @media screen and (min-width: 1280px) {
        right: 109px;
    }
}
.hero--conteiner {
    display: inline-flex;
    align-items: flex-end;
    padding-left: 20px;
    @media screen and (min-width: 768px) {
        margin-bottom: 28px;
    }
    @media screen and (min-width: 1280px) {
        margin-bottom: 45px;
    }
}
.hero__subtitle {
    color: $white-text-color;
    @media screen and (min-width: 768px) {
        font-size: 8px;
        line-height: 1.5;

        max-width: 114px;
        margin-bottom: 7px;
    }
    @media screen and (min-width: 1280px) {
        font-size: 14px;
        line-height: 1.4;

        max-width: 200px;
        margin-bottom: 20px;
    }
    &-img {
        display: inline-block;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &-link {
        border-radius: 50%;
    }
    &-link:hover .hero__subtitle-img {
        border-radius: 50%;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }
}
.hero__points {
    display: flex;
    position: absolute;
    top: 12px;
    right: 34px;
    @media screen and (min-width: 1280px) {
        top: 74px;
        right: 97px;
    }
}

.hero__points-item {
    font-family: 'Titan One', cursive;
    letter-spacing: 0.04em;
    color: $red-color;

    position: relative;
    z-index: 1;

    &::before {
        position: absolute;
        content: '';
        width: 16px;
        height: 16px;
        top: 0;
        left: 27px;
        border: solid #fff;
        border-radius: 50%;
        background-color: #fff;
        @media screen and (min-width: 1280px) {
            width: 30px;
            height: 30px;
            left: 42px;
        }
    }
    @media screen and (min-width: 768px) {
        font-size: 28px;
        line-height: 1.1;
        &:first-child {
            padding-bottom: 13px;
        }
    }
    @media screen and (min-width: 1280px) {
        font-size: 46px;
        line-height: 1.2;
        &:first-child {
            padding-bottom: 15px;
        }
    }
    &--sub {
        @media screen and (min-width: 768px) {
            display: flex;

            font-family: 'DM Sans', sans-serif;
            font-size: 8px;
            line-height: 1.2;

            color: $white-text-color;
            @media screen and (min-width: 1280px) {
                font-size: 14px;
                line-height: 1.3;
            }
        }
    }
    &--over {
        position: relative;
    }
}
@keyframes animationAfter {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
