.mob-menu {
    background: #e17992;
    height: 502px;
    width: 250px;
    position: fixed;
    top: 2%;
    right: 5%;
    z-index: 999;
}
.mob-menu-list {
    margin-top: 19px;
    display: flex;
    flex-direction: column;
}
.mob-menu-list__item {
    width: 100%;
    height: 42px;
    border: 1px solid #e18298;
    display: flex;
    align-items: center;
}
.mob-menu-list__link {
    width: 100%;
    padding-left: 21px;
    font-size: 14px;
    font-weight: bold;
    line-height: calc(18 / 14);
    color: $white-text-color;
}

.close-menu-btn {
    display: block;
    margin-left: auto;
    background: transparent;
    padding-top: 23px;
    padding-right: 28px;
    margin-bottom: 23px;
}
.close-menu-btn_icon {
    height: 100%;
}
.open-menu-btn {
    background: transparent;
}

.subscribe-form__button {
    width: 209px;
    height: 44px;
    background: $white-text-color;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 21px;
    margin-right: 20px;
    margin-top: 23px;
    margin-bottom: 19px;
}

.subscribe-form__icon-vector {
    width: 6px;
    height: 12px;
    display: flex;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
}
.icon-vector {
    height: 100%;
}

.subscribe-form__button {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: calc(21 / 16);
    display: flex;
    align-items: center;
    text-align: center;
    color: $red-color;
}
.header-btn-mob {
    margin-left: 34px;
    margin-right: 34px;
    height: 44px;
    width: 186px;
    font-family: DM Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(21 / 16);
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 22px;
    border: 0;
    color: $red-color;
    background: $white-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
        color: $red-color;
        background-color: #ecebeb;
    }
}
